
.nav-bar {
	grid-area: header;
	background-color: blue;
	position: sticky;
	top: 0;
}

.nav-bar-list {
	list-style-type: none;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
}

.nav-bar-list li:first-child {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	color: white;
	font-family: arial;
	text-align: center;
	float: left;
	padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-list li:last-child {
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
	color: white;
	font-family: arial;
	text-align: center;
	float: right;
	padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-list li a {
	color: white;
	text-decoration: none;
}
