
@import url("styles/blog.css");
@import url("styles/pictures.css");
@import url("styles/social-sharing.css");
@import url("styles/nav-bar-header.css");

.quote {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: purple;
	border: 2px solid purple;
	padding: 15px;
	height: 150px;
}

.main-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 400px;
	height: 100vh;
}

.about {
	flex: 1 200px;
	color: black;
	border: 2px solid black;
	padding: 15px;
}

.blogs {
	flex: 2 400px;
	color: purple;
	border: 2px solid purple;
	padding: 15px;
}

.footer {
	background-color: black;
	color: white;
	padding: 15px;
}

.button {
	background-color: yellow;
	color: black;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}


* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

